body{
    background-color: rgb(31, 30, 30);
    margin: 0;
    font-family: "Montserrat";
    overflow-x: hidden;
}
.title{
    display: block;
    width: 100%;
    position: fixed;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #443c4c;
    margin-bottom: 1rem;
    box-shadow: 2px 4px 2px #5e5568;
}

.name{
    padding-left: 2.5vw;
    font-size: 4vh;
    font-weight: 700;
    color: white;
    text-shadow: 3px 3px 3px black;
    text-decoration: none;
}
.name:hover{
    color: #ca443b;
}

.navContent{
    display: flex;
    justify-content: end;
    padding-right: 3vw;
}

.navContent a{
    
    text-shadow: 3px 3px 3px black;
    font-weight: 400;
    padding-left: 1vw;
    font-size: 2.3vh;
    text-decoration: none;
    color: aliceblue;
    align-self: center;
}

.navContent a:hover{
    color: #ca443b;
    font-size: 5vh;
    font-weight: bold;
    text-shadow: none;
}

.content{
    display: block;
    padding: 17vh 1rem;
    text-align: left;
}

.aboutName{
    font-weight: 800;
    color: #ca443b;
    font-size: 7vh;
    width: 100%;
}

.content p{
    color: #f3e0c8;
    font-size: 3vh;
}

.prof{
display: flex;
justify-content: center;
}

.hi{
    display: flex;
    justify-content: center;
}
#profilePic{
    height: 80vh;
}

#i{
    font-family: 'Gideon Roman', cursive;
    font-size: 15rem;
    text-align: left;
}
.info{
    padding-top: 4rem;
    padding-left: 1rem;
}



#contactMe {
    background-color: #f3e0c8;
    color: gray;
    padding: 3%;
    font-family: "Montserrat";
    font-weight: 200;
    text-align: center;
    line-height: 3;
}

.btn {
    /* filter: invert(70%); */
    color: #443c4c;
    background-color: #f3e0c8;
    padding: 0.3rem 1rem;
    margin: 0.2rem 0.5rem 0 0.5rem;
}

.btn:hover{
    color: #f3e0c8;
    background-color: #443c4c;
}

#contactMe h3{
    opacity: 90%;
    font-size: 1.5rem;
}
#contactMe h6{
    opacity: 60%;
    padding-bottom: 0.3rem;
}

.data{
    padding-top: 4.5vh;
    
}


.otherIllustrations{
    padding-top:1rem;
    height: 75vh;
}

.toggleBar{
    display: none;
}
.phone{
    display: none;
}
@media (max-width: 770px) {
    .aboutName{
        font-size: 10vw;
    }
    .navContent{
        display: none;
    }
    .toggleBar{
        position: absolute;
        top: 30%;
        left: 80%;
        display: block;
    }

    .toggleBar svg{
        width: 4vh;
        fill: white;
    }
    .content{
        padding: 0 1vw;
    }
    .otherIllustrations{
        height: 100%;
    }
    #profilePic{
        width: 30vh; 
        padding: 0;
        margin: 0;
    }
    .phone{
        display: block;
    }
    .pc{
        display: none;
    }
    .content{
        padding-top: 10vh;
    }
    
    #contactMe h3{
        opacity: 90%;
        font-size: 5vw;
    }
    #contactMe h6{
        opacity: 60%;
        font-size: 2.7vw;
        padding-bottom: 1vh;
        padding-top: 0;
    }

    #contactMe h4{
        font-size:2.5vh;
        padding-bottom: 0.5vh;
    }
    
}